<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>savedakittens.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A7B0F5771F915E5C007E03EC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A7B0F58B1F915E5D007E03EC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A7B0F5961F915E5D007E03EC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
